<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta th:charset="UTF-8"/>
    <title>Title</title>
    <script type="application/javascript" src="js/custom/managerChecklist.js"></script>
</head>
<body>
<div th:include="fragments/js :: jquerys"></div>
<div th:include="fragments/js :: bootstrap"></div>
<div th:include="fragments/js :: common"></div>
<div class="container">
    <form action="app" method="GET">
        <button onclick="loadForm('index')" class="btn btn-lg btn-default-outline" type="submit">Back</button>
        <div id="checkList">
            <table id="checkListTable" class="table">
                <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        On Site
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="manager:${checkList}">
                    <td th:text="${manager.managerCheckListID}"></td>
                    <td th:text="${manager.managerName}"></td>
                    <td th:text="${manager.managerOnSite}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
</body>
</html>