<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:charset="UTF-8"/>
    <title th:title="FoodSafety">FoodSafety</title>
    <script type="application/javascript" src="js/custom/managerChecklist.js"></script>
</head>
<body>
<div th:include="fragments/js :: jquerys"></div>
<div th:include="fragments/js :: bootstrap"></div>
<div th:include="fragments/js :: common"></div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <p>WELCOME</p>
</div>
<div class="container">
    <form action="manageSelfInspectionChecklist">
        <span class="glyphicon glyphicon-search">
        <button type="submit" class="btn btn-lg btn-default-outline" id="manageSelfInspectionChecklist">Checklist</button>
        </span>
    </form>
</div>
</body>
</html>